header>h1 {
    text-align: center;
}

.main-container {
    display: flex;
}

.container-item { 
    width: 100%;
    padding: 20px;
}

.container-item>h2 {
    text-align: center;
}

.container-result { 
    width: 100%;
    text-align: center;
    background-color: rgb(49, 150, 238);
    padding-top: 8px;
    padding-bottom: 24px;
}
.container-form>div {
    padding: 8px;
}
.container-item>p{
    padding: 1px;
}